img{
	position: absolute;
	top:200px;
	left:90px;
	margin-left: 0;
	height: 800px;
	width: 800px;
	display: block;
}
#pt{
	position: absolute;
	top: 400px;
	left: 200px;
	z-index: 3;
	font-size: 160px;
	color: red;
	display: block;
	background: white;
}
#jeu{
	width: 954px;
	margin-left: 0;
	border: 2px solid tomato;
}
#cc{
	display: inline-block;
	font-size: 60px;
	height:75px;
	color: red;
	width: 500px;
}
.point{
	font-size: 60px;
	height:75px;
	width: 954px;
	color: white;
	text-align: center;
}
.pointx{
	background: green;
}
.pointo{
	background: red;
}
table{
	border-bottom:2px solid tomato;
	border-top:2px solid tomato;
}
td>div{
	height:314px;
	width:314px;
	background:aqua;
	font-size:250px;
	text-align: center;
	cursor: pointer;
}
td>div:active{
	box-shadow: 2px 2px 10px 2px red;
}
caption{
	caption-side: bottom;
}
#rr{
	width: 953px;
	text-align: center;
	color: black;
	font-size: 60px;
	height:75px;
	background: lightgray;
}